<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smasher.zxing">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:allowBackup="false">

        <activity
            android:name="com.smasher.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
